<h1 class="title">Tenants</h1>

<div class="columns is-multiline">
<% tenants.each do |tenant| %>
  <div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd ">
    <%= render 'tenant_card', tenant: tenant %>
  </div>
<% end %>
</div>

<br/>

<%# link_to 'New Tenant', new_tenant_path %>
