<!-- fix turbolinks with back button
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='tenant_show_<%= tenant_view.id %>' class='pageName'>
  tenant_show_<%= tenant_view.id %>
</p>

<%= render 'tenants/display',
            user_view: user_view, spaces_view: spaces_view,
            tenant_view: tenant_view, calendar_view: calendar_view %>
