<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        SharedSpaces
      </p>
      <p class="subtitle">
        Where groups come to share their space schedule.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">

      <p class="title">
        <%= tenant.tenant_name %>
      </p>
      <p class="subtitle">
        <%= tenant.tenant_tagline %>
      </p>

      <div class="columns is-multiline">
      <% tenant.spaces.each do |space| %>
        <div class="column is-half-desktop is-one-third-fullhd is-centered">
          <p class="title is-5">
            <%= link_to "#{space.space_name}",
                        tenant_space_path(id: space.id, tenant_id: tenant.id),
                        class: "card-footer-item" %>
          </p>
          <%= render 'spaces/calendar_mini',
                        space: space, tenant: tenant, calendar: calendar %>
        </div>
      <% end %>
      </div>

    </div>
  </div>
</section>
