<% content_for :head do %>
  <!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='landing_index' class='pageName'>Landing Index</p>

<%= render 'tenants/display',
            user: user, spaces: spaces,
            tenant: tenant, calendar: calendar %>

