<!-- Week Day Headers -->
<!-- how to prevent wrapping -->
<div class="columns calendar-row is-gapless is-variable is-multiline is-mobile" style="margin-bottom: 0px;">
  <div class="column weekday is-4">
    <div class="weekday notification">
      <div class="buttons">
        <a class="button is-primary is-small">
          <strong><</strong>
        </a>
      </div>
    </div>
  </div>
  <div class="column weekday is-4">
    <div class="weekday notification">
      Month
    </div>
  </div>
  <div class="column weekday is-4">
    <div class="weekday notification">
      <div class="buttons is-pulled-right">
        <a class="button is-primary is-small">
          <strong>></strong>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Week Day Headers -->
<div class="columns calendar-row is-gapless is-variable is-hidden-mobile" style="margin-bottom: 0px;">
  <div class="column weekday">
    <div class="notification">
      Mon
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Tue
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Wed
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Thu
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Fri
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Sat
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Sun
    </div>
  </div>
</div>

<div class="columns calendar-row is-gapless is-variable" style="margin-bottom: 0px;">
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;1
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;2
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;3
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;4
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;5
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;6
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;7
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
</div>

<div class="columns calendar-row is-gapless is-variable" style="margin-bottom: 0px;">
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;8
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;9
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;10
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;11
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;12
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;13
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;14
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
</div>
