<p hidden id='edit-resevation-<%= reservation.id %>' class='pageName'>Edit Reservation <%= reservation.id %></p>

<h1>Edit Reservation</h1>
<%= form_for( reservation, local: true,
              url: space_reservation_path(space_id: space, id: reservation),    # PATH MUST BE SINGULAR!!!
              id: "edit-reservation-form", class: "reservation" ) do |form|  %>

  <%= render 'guests/reservations/form', form: form, reservation: reservation, space: space, tenant: tenant %>

<% end %>
