<p hidden id='new-resevation' class='pageName'>New Reservation</p>

<h1>New Reservation</h1>

<%= form_for( reservation, local: true,
              url: space_reservations_path(space_id: space.id),
              id: "new-reservation-form", class: "reservation" ) do |form|  %>

  <%= render 'guests/reservations/form', form: form, reservation: reservation, space: space, tenant: tenant %>

<% end %>

<%# link_to 'Back', tenant_path(tenant, date: Calendar.display_date(date)) %>
