<h1 class="title"><small>Spaces for:</small><%= tenant.tenant_name %></h1>
<br>
<% spaces.each do |space| %>
  <h2><%= link_to space.space_name, tenant_space_path(id: space.id) %></h2>
  <%= render 'calendar_mini', space: space %>
<% end %>

<br>

<%# link_to 'New Space', new_tenant_space_path %>
