<h1 class="title"><small>Space:</small> <%= space.space_name %></h1>

<%= render 'calendar_maxi', space: space %>


<%# link_to 'Edit', edit_space_path(id: space) %> |
<%= link_to 'Back', tenant_spaces_path(id: space.id) %>
