<h1 class="title">Space#show</h1>

<!-- Week Day Headers -->
<!-- how to prevent wrapping -->
<div class="columns calendar-row is-gapless is-variable is-multiline is-mobile" style="margin-bottom: 0px;">
  <div class="column weekday is-4">
    <div class="weekday notification">
      <div class="buttons">
        <a class="button is-primary is-small">
          <strong><</strong>
        </a>
      </div>
    </div>
  </div>
  <div class="column weekday is-4">
    <div class="weekday notification">
      Month
    </div>
  </div>
  <div class="column weekday is-4">
    <div class="weekday notification">
      <div class="buttons is-pulled-right">
        <a class="button is-primary is-small">
          <strong>></strong>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Week Day Headers -->
<div class="columns calendar-row is-gapless is-variable is-hidden-mobile" style="margin-bottom: 0px;">
  <div class="column weekday">
    <div class="notification">
      Mon
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Tue
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Wed
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Thu
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Fri
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Sat
    </div>
  </div>
  <div class="column weekday">
    <div class="notification">
      Sun
    </div>
  </div>
</div>

<div class="columns calendar-row is-gapless is-variable" style="margin-bottom: 0px;">
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;1
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;2
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;3
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;4
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;5
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;6
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;7
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
</div>

<div class="columns calendar-row is-gapless is-variable" style="margin-bottom: 0px;">
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;8
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;9
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;10
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;11
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;12
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;13
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
  <div class="column calendar-day">
    <p class="calendar-info num">
      &nbsp;14
    </p>
    <p class="calendar-info am">
      &nbsp;
    </p>
    <p class="calendar-info pm">
      &nbsp;
    </p>
    <p class="calendar-info ev">
      &nbsp;
    </p>
  </div>
</div>

<br>
<br>

<%# <div class="columns is-variable"> %>
  <div class="column is-12">
  <div class="calendar is-calendar-large">
    <div class="calendar-nav">
      <div class="calendar-nav-left">
        <button class="button is-link">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>
      <div>March 2017</div>
      <div class="calendar-nav-right">
        <button class="button is-link">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-header">
        <div class="calendar-date">Sun</div>
        <div class="calendar-date">Mon</div>
        <div class="calendar-date">Tue</div>
        <div class="calendar-date">Wed</div>
        <div class="calendar-date">Thu</div>
        <div class="calendar-date">Fri</div>
        <div class="calendar-date">Sat</div>
      </div>
      <div class="calendar-body">
        <div class="calendar-date disabled"><button class="date-item">26</button></div>
        <div class="calendar-date disabled">
          <button class="date-item">27</button>
          <div class="calendar-events">
            <a class="calendar-event">Default event</a>
          </div>
        </div>
        <div class="calendar-date disabled"><button class="date-item">28</button></div>
        <div class="calendar-date"><button class="date-item">1</button></div>
        <div class="calendar-date"><button class="date-item">2</button></div>
        <div class="calendar-date"><button class="date-item">3</button></div>
        <div class="calendar-date tooltip" data-tooltip="Today"><button class="date-item date-today">4</button></div>
        <div class="calendar-date"><button class="date-item" disabled="">5</button></div>
        <div class="calendar-date"><button class="date-item">6</button></div>
        <div class="calendar-date"><button class="date-item">7</button></div>
        <div class="calendar-date tooltip" data-tooltip="You have appointments">
          <button class="date-item badge">8</button>
          <div class="calendar-events">
            <a class="calendar-event is-primary">Primary event</a>
            <a class="calendar-event is-warning">Warning event</a>
            <a class="calendar-event is-danger">Danger event</a>
          </div>
        </div>
        <div class="calendar-date"><button class="date-item">9</button></div>
        <div class="calendar-date"><button class="date-item">10</button></div>
        <div class="calendar-date"><button class="date-item">11</button></div>
        <div class="calendar-date">
          <button class="date-item">12</button>
          <div class="calendar-events">
            <a class="calendar-event">Default event</a>
          </div>
        </div>
        <div class="calendar-date"><button class="date-item">13</button></div>
        <div class="calendar-date"><button class="date-item">14</button></div>
        <div class="calendar-date"><button class="date-item">15</button></div>
        <div class="calendar-date calendar-range range-start"><button class="date-item is-active">16</button></div>
        <div class="calendar-date calendar-range"><button class="date-item">17</button></div>
        <div class="calendar-date calendar-range"><button class="date-item">18</button></div>
        <div class="calendar-date calendar-range"><button class="date-item">19</button></div>
        <div class="calendar-date calendar-range range-end">
          <button class="date-item is-active">20</button>
          <div class="calendar-events">
            <a class="calendar-event is-success">Success event</a>
          </div>
        </div>
        <div class="calendar-date"><button class="date-item">21</button></div>
        <div class="calendar-date"><button class="date-item">22</button></div>
        <div class="calendar-date"><button class="date-item">23</button></div>
        <div class="calendar-date"><button class="date-item">24</button></div>
        <div class="calendar-date"><button class="date-item">25</button></div>
        <div class="calendar-date"><button class="date-item">26</button></div>
        <div class="calendar-date"><button class="date-item">27</button></div>
        <div class="calendar-date"><button class="date-item">28</button></div>
        <div class="calendar-date"><button class="date-item">29</button></div>
        <div class="calendar-date"><button class="date-item">30</button></div>
        <div class="calendar-date"><button class="date-item">31</button></div>
        <div class="calendar-date disabled">
          <button class="date-item">1</button>
          <div class="calendar-events">
            <a class="calendar-event">Second default event</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# </div> %>


<div class="column is-6">
  <div class="calendar">
    <div class="calendar-nav">
      <div class="calendar-nav-left">
        <button class="button is-link">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>
      <div>March 2017</div>
      <div class="calendar-nav-right">
        <button class="button is-link">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-header">
        <div class="calendar-date">Sun</div>
        <div class="calendar-date">Mon</div>
        <div class="calendar-date">Tue</div>
        <div class="calendar-date">Wed</div>
        <div class="calendar-date">Thu</div>
        <div class="calendar-date">Fri</div>
        <div class="calendar-date">Sat</div>
      </div>
      <div class="calendar-body">
        <div class="calendar-date is-disabled"><button class="date-item">26</button></div>
        <div class="calendar-date is-disabled"><button class="date-item">27</button></div>
        <div class="calendar-date is-disabled"><button class="date-item">28</button></div>
        <div class="calendar-date"><button class="date-item">1</button></div>
        <div class="calendar-date"><button class="date-item">2</button></div>
        <div class="calendar-date"><button class="date-item">3</button></div>
        <div class="calendar-date"><button class="date-item is-today">4</button></div>
        <div class="calendar-date"><button class="date-item" disabled="">5</button></div>
        <div class="calendar-date"><button class="date-item">6</button></div>
        <div class="calendar-date"><button class="date-item">7</button></div>
        <div class="calendar-date"><button class="date-item badge">8</button></div>
        <div class="calendar-date"><button class="date-item">9</button></div>
        <div class="calendar-date"><button class="date-item">10</button></div>
        <div class="calendar-date"><button class="date-item">11</button></div>
        <div class="calendar-date"><button class="date-item">12</button></div>
        <div class="calendar-date"><button class="date-item">13</button></div>
        <div class="calendar-date"><button class="date-item">14</button></div>
        <div class="calendar-date"><button class="date-item">15</button></div>
        <div class="calendar-date calendar-range range-start"><button class="date-item is-active">16</button></div>
        <div class="calendar-date calendar-range"><button class="date-item">17</button></div>
        <div class="calendar-date calendar-range"><button class="date-item">18</button></div>
        <div class="calendar-date calendar-range"><button class="date-item">19</button></div>
        <div class="calendar-date calendar-range range-end"><button class="date-item is-active">20</button></div>
        <div class="calendar-date"><button class="date-item">21</button></div>
        <div class="calendar-date"><button class="date-item">22</button></div>
        <div class="calendar-date"><button class="date-item">23</button></div>
        <div class="calendar-date"><button class="date-item">24</button></div>
        <div class="calendar-date"><button class="date-item">25</button></div>
        <div class="calendar-date"><button class="date-item">26</button></div>
        <div class="calendar-date"><button class="date-item">27</button></div>
        <div class="calendar-date"><button class="date-item">28</button></div>
        <div class="calendar-date"><button class="date-item">29</button></div>
        <div class="calendar-date"><button class="date-item">30</button></div>
        <div class="calendar-date"><button class="date-item">31</button></div>
        <div class="calendar-date is-disabled"><button class="date-item">1</button></div>
      </div>
    </div>
  </div>
</div>

<br /><br />


<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
