<h1 class="title">Tenants</h1>

<div class="columns is-multiline">
<% tenants_view.each do |tenant_view| %>
  <div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd ">
    <%= render 'guests/tenants/tenant_card', tenant: tenant_view %>
  </div>
<% end %>
</div>

<br/>

<%# link_to 'New Tenant', new_tenant_path %>
