<p hidden id='new-space' class='pageName'>New Space</p>

<h1>New Space</h1>

<% if space_view.errors.any? %>
  <div id="error_explanation">
    <h2 style='color: #e84118'><%= pluralize(space.errors.count, "error") %>
      prohibited this space from being saved:
    </h2>
    <ul>
    <% space_view.errors.full_messages.each do |message| %>
      <li style='color: #e84118'><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'guests/spaces/form', space_view: space_view %>

<%= link_to 'Back', spaces_path %>
