/** https://codepen.io/wikiki/pen/KvqKzK -> https://www.sass2css.online/ -> scss */

.calendar {
  border: 0.1rem solid #dbdbdb;
  border-radius: 2px;
  display: block;
  min-width: 100%;
  text-align: center;
}

// blue: 0c2382, #0c227e
// red: 820c23, #7e0c22
// green: 23820c, #227e0c
// light grey (disabled): #eaeaea or #e0e0e0
// almost black: #1c1c1c, or #121212

.calendar .calendar-nav {
  -webkit-align-items: center;
  align-items: center;
  // background: #0c227e; // original background nav color
  // background: #414bbb;
  background: #2a42a4;
  color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: .5rem;
}

.calendar .calendar-nav .calendar-nav-left, .calendar .calendar-nav .calendar-nav-right {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.calendar .calendar-nav .calendar-nav-left .button, .calendar .calendar-nav .calendar-nav-right .button {
  text-decoration: none;
  color: white;
}

.calendar .calendar-nav .calendar-nav-left .button:hover, .calendar .calendar-nav .calendar-nav-right .button:hover {
  background: #35d3bc;
}

.calendar .calendar-nav .calendar-nav-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.calendar .calendar-nav .calendar-nav-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.calendar .calendar-header, .calendar .calendar-body {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  padding: .2rem 0;
}

.calendar .calendar-header .calendar-date, .calendar .calendar-body .calendar-date {
  -webkit-flex: 0 0 14.28%;
  -ms-flex: 0 0 14.28%;
  flex: 0 0 14.28%;
  max-width: 14.28%;
}

.calendar .calendar-header {
  background: #00b89c;
  color: white;
  font-size: 1rem;
}

.calendar .calendar-body {
  color: #7a7a7a;
}

.calendar .calendar-date {
  border: 0;
  padding: .4rem;
}

.calendar .calendar-date .date-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: .1rem solid transparent;
  border-radius: 100%;
  color: #4b4b4b;
  cursor: pointer;
  height: 2.8rem;
  line-height: 2rem;
  outline: none;
  padding: .3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  vertical-align: middle;
  white-space: nowrap;
  width: 2.8rem;
}

// only use border for is-today
.calendar .calendar-date .date-item.is-active {
  background: #abf4d8;
  border-width: medium;
  color: #4b4b4b;
}

.calendar .calendar-date .date-item.is-today {
  // border-color: #0c227e; // old nav color
  // border-color: #414bbb;
  border-color: #2a42a4;
  border-width: medium;
  color: #00d1b2;
}

.calendar .calendar-date .date-item.is-active.is-today {
  background: #abf4d8;
  // border-color: #0c227e; // old nav color
  // border-color: #414bbb;
  border-color: #2a42a4;
  border-width: medium;
  color: #4b4b4b;
}

.calendar .calendar-date .date-item.is-today:focus {
  background: #8fcbff;
  border-color: #00bda1;
  border-width: medium;
  color: #4b4b4b;
  text-decoration: none;
}

.calendar .calendar-date .date-item.is-today:hover {
  background: #8fcbff;
  border-color: #00bda1;
  border-width: medium;
  color: #4b4b4b;
  text-decoration: none;
}

.calendar .calendar-date .date-item.is-active.is-today:focus {
  background: #8fcbff;
  border-color: #00bda1;
  border-width: medium;
  color: #4b4b4b;
  text-decoration: none;
}

.calendar .calendar-date .date-item.is-active:hover {
  background: #8fcbff;
  // border-color: #00bda1;
  color: #4b4b4b;
  text-decoration: none;
}

// https://www.w3schools.com/howto/howto_css_tooltip.asp
.calendar .calendar-date .date-item.is-active:hover::after {
  // /* Fetch Tool Tip Text */
  content: attr(data-tooltip) ;

  // /* Tool Tip Bubble */
  position: absolute ;
  z-index: 1 ;
  top: 1.1em ;
  left: 1em ;
  width: 120px;
  border-radius: 6px;
  border: 1px #808080 solid ;
  background-color: #cbcbcb ;

  // /* Tool Tip Text */
  color: black ;
  text-align: center;
  padding: 5px 0;
  line-height: 16px;      // spacing between lines
  white-space: pre-wrap;  // use \n to wrap lines

  // /* Position the tooltip text */
  margin-top: -50px;
  margin-left: -50px;
}

.calendar .calendar-date .date-item.is-active.is-today:hover {
  background: #8fcbff;
  border-color: #00bda1;
  color: #4b4b4b;
  text-decoration: none;
}

.calendar .calendar-date .date-item:focus {
  background: #7dc0fa;
  border-color: #7dc0fa;
  color: #4b4b4b;
  text-decoration: none;
}

.calendar .calendar-date .date-item:hover {
  background: #7dc0fa;
  border-color: #7dc0fa;
  color: #4b4b4b;
  text-decoration: none;
}

.calendar .calendar-date.is-disabled .date-item, .calendar .calendar-date.is-disabled .calendar-event {
  cursor: default;
  opacity: .25;
  pointer-events: none;
}

.calendar .calendar-range {
  position: relative;
}

.calendar .calendar-range::before {
  background: #d1fff8;
  content: "";
  height: 2.8rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.calendar .calendar-range.range-start::before {
  left: 50%;
}

.calendar .calendar-range.range-end::before {
  right: 50%;
}

.calendar .calendar-range .date-item {
  color: #4b4b4b;
}

.calendar.is-calendar-large .calendar-body {
  padding: 0;
}

.calendar.is-calendar-large .calendar-body .calendar-date {
  border-bottom: 0.1rem solid #dbdbdb;
  border-right: 0.1rem solid #dbdbdb;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 11rem;
  padding: 0;
}

.calendar.is-calendar-large .calendar-body .calendar-date:nth-child(7n) {
  border-right: 0;
}

.calendar.is-calendar-large .calendar-body .calendar-date:nth-last-child(-n+7) {
  border-bottom: 0;
}

.calendar.is-calendar-large .date-item {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  height: 2.8rem;
  margin-right: .5rem;
  margin-top: .5rem;
}

.calendar.is-calendar-large .calendar-range::before {
  top: 1.9rem;
}

.calendar.is-calendar-large .calendar-range.range-start::before {
  left: auto;
  width: 1.9rem;
}

.calendar.is-calendar-large .calendar-range.range-end::before {
  right: 1.9rem;
}

.calendar.is-calendar-large .calendar-events {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  line-height: 1;
  overflow-y: auto;
  padding: .5rem;
}

.calendar.is-calendar-large .calendar-event {
  background-color: #3273dc;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: 1rem;
  margin: .2rem auto;
  overflow: hidden;
  padding: .3rem .4rem;
  text-align: left;
  text-overflow: ellipsis;
  // investigate incompatible with block warning
  // vertical-align: baseline;
  white-space: nowrap;
}

.calendar.is-calendar-large .calendar-event.is-white {
  background-color: white;
  color: #0a0a0a;
}

.calendar.is-calendar-large .calendar-event.is-black {
  background-color: #0a0a0a;
  color: white;
}

.calendar.is-calendar-large .calendar-event.is-light {
  background-color: whitesmoke;
  color: #363636;
}

.calendar.is-calendar-large .calendar-event.is-dark {
  background-color: #363636;
  color: whitesmoke;
}

.calendar.is-calendar-large .calendar-event.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.calendar.is-calendar-large .calendar-event.is-info {
  background-color: #3273dc;
  color: #fff;
}

.calendar.is-calendar-large .calendar-event.is-success {
  background-color: #23d160;
  color: #fff;
}

.calendar.is-calendar-large .calendar-event.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.calendar.is-calendar-large .calendar-event.is-danger {
  background-color: #ff3860;
  color: #fff;
}
